@import "tailwindcss";

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   color: var(--foreground);
   font-family: "roboto", sans-serif;
   background-color: #121212;
}

:root {
   --background: #121212;
   --surface: #1e1e1e;
   --primary: #bb86fc;
   --secondary: #03dac6;
}
/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* For Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}
